asgiref==3.8.1
click==8.2.1
Django==5.2.1
djangorestframework==3.16.0
dj-database-url
gunicorn==23.0.0
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.6
python-decouple==3.8
setuptools==80.8.0
sqlparse==0.5.3
svgwrite==1.4.3
Tree==0.2.4
whitenoise
